<h1 id="genre-header"><%= @genre.name %></h1>

<% @genre.books.each do |g| %>

  <span id="book-span"><%= image_tag g.avatar_url(:small).to_s %><%= link_to g.title, book_path(g) %></span><br />
<% end %>
