<h1>Welcome, <%= @user.first_name %></h1>

<% if @user.author? %>

<h3>Upload one of your books to be reviewed!</h3>
<%= link_to "new book", new_book_path %><br />

<h4>Your current titles</h4>
<% @user.books.each do |b| %>

Title: <b><%= b.title %></b><br />
Description: <b><%= b.description %></b>

<% end %>
<% else %>

<h3>Choose from these genres to review</h3>

<% end %>
