<div id="rsh_container">
  <h1 id="reviewer-signup-header"><%= image_tag "icons8-literature-filled-50.png" %> Become a Reviewer Today! It's FREE</h1>
</div>

<div id="reviewer-subscription-container">
  <h3>Books, books galore. Discover the next JK Rowling or Stephen King here!</h3>
    <p>We offer a unique platform that encourages ordinary people like you and me to share
      their work of art for free for all to enjoy in exchange for an honest review. Let me help you help me,
      as they say...or something like that. This community is unlike any other and together we can change the
      publishing industry and make books great again!
    </p>
    <button type="button"><%= link_to "subscribe", new_reviewer_path %></button>
</div>
