/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';
 @import 'books';
 @import 'users';
 @import 'reviews';
 @import 'home_pages';
 @import 'charges';

/* admin */

#admin-reviews-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding: 20px;
  p {
    padding: 10px;

  }
  h3 {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #852809;
  }
}


html,
body {
  background-color: #E59866;
  height: 100%;
}



 nav {
   height: 130px;
   background-color: #852809;
   a:hover {
       text-decoration: none;
   }
   li {
      list-style: none;
   }

   #main-links {
      margin-top: 30px;
      display: inline-flex;
      #home_link {
        font-size: 50px;

        a {
          color: white;
        }
      }
      #home_link:hover {
        text-decoration: none;
      }
    }

    #dropdown-container {
      position: relative;
      float: right;
    }

    .user-dropdown {
      float: right;
      display: none;
      position: absolute;
      right: 0;
      left: auto;

      li {
        background-color: white; opacity: 0.7;
        text-align: center;
        width: 300px;
        a {
          color: black;
        }
      }
      .separated-links {
        border-top-style: outset;
        border-top-width: 1px;
        border-top-color: black;
        background-color: white; opacity: 0.9
      }
    }
      .user-dropdown li:hover a {
        color: #886962;
      }
    #dropdown-container:hover .user-dropdown {
        display: block;
      }


    .dropdown {
      margin-left: 99%;
      position: relative;
      button {
        background-color: #852809;
        border-color: black;
      }
    }
    .dropdown:hover button {

        background-color: #852809;
      }



      .dropdown-menu {
        float: right;
        position: absolute;
        right: 0;
        left: auto;
        a {
          color: black;
        }
      }
  }

/* Footer */

#footer {
  text-align: center;
  color: white;
  bottom: 0;
   width:100%;
   height:60px;
  background-color: #852809;

}


/* Genres index */

#genres-header {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #852809;
}
#genre-links {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 15px;
}





/* Registration/Login forms */

  .registration-container {
    h2 {
      text-align: center;
    }
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding: 50px;

    form {

    }
  }

  #new-user-session {
    width: 25%;
    margin-top: 5%;
    margin-left: 60%;
    margin-right: 15%;
    #user-login-header {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #852809;
    }
  }

  @media screen and (max-device-width: 500px) {

    body {
      width: 100%;
      margin: 0;
    }
    html {
      width: 100%;
      margin: 0;
    }

    /* navigation */

    nav {
      width: 100%;
      height: 235px;
      #home_link {
        margin-top: 50px;
        font-size: 150px;
      }
      #dropdown-container {
        float: none;
        width: 400px;

        img {
          width: 100px;
          height: 140px;
        }
      }
      .dropdown {
        margin-left: 32%;
        button {
          width: 140px;
          height: 120px;
          img {
            width: 80px;
            height: 80px;
          }
          span {
            font-size: 35px;
          }
        }
        a {
          font-size: 30px;
        }
      }
      .user-dropdown {
        z-index: 2;
        li {
          height: 80px;
          a {
            font-size: 50px;
          }
        }
        .separated-links {
          li {
            a {
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }



    /* Home page */

    .body-container {
      margin: 0;
      width: 100%;

      h3 {
        font-size: 50px;
        font-weight: bold;
      }
      a {
        margin-left: 50%;
        font-size: 50px;
      }
    }
    #author-pitch {
      width: 100%;
      height: 100%;
      margin: 0;
      margin-bottom: 20px;
      h4 {
        font-size: 50px;
        font-weight: bold;
      }
      p {
        font-size: 3rem;
      }
    }
    #reviewer-pitch {
      width: 100%;
      height: 100%;
      margin: 0;

      h4 {
        font-size: 50px;
        font-weight: bold;
      }
      p {
        font-size: 3rem;
      }
    }

    /* author pitch page */
    h1 {
      font-size: 4rem;
      padding: 10px;
    }
    h3 {
      font-size: 3rem;
      padding: 10px;
    }
    #netflix {
      width: 100%;
      margin: 0;
      height: 100%;
      p {
        font-size: 3rem;
      }
    }
    #reading-pic {
      width: 100%;
      margin: 0;
      height: 100%;
      img {
        float: right;
        width: 60%;
      }
      p {
        font-size: 4rem;
        width: 40%;
      }
    }
    #author-subscription-container {
      margin: 0;
      width: 100%;
      h3 {
        font-size: 80px;
        font-weight:bold;
      }
      img {
        height: 80px;
        width: 100px;
      }
      p {
        margin-left: 25%;
        font-size: 3rem;
      }
      form {
        margin-left: 10%;

      }
      .stripe-button-el span{
        width: 200px;
        height: 60px;
        font-size: 40px;
      }
      #rules {
        p {
          padding: 10px;
        }
      }
    }
    /* reviewer pitch page */

    #reviewer-subscription-container {
      width: 100%;
      margin: 0;

      h3 {
        font-size: 4rem;
      }
      p {
        font-size: 3rem;
      }
      button {
        width: 100px;
        height: 60px;
        font-size: 30px;
        margin-bottom: 10px;
        a {
          font-size: 50px;
          padding-bottom: 10px;
        }

      }
    }

    /* Signup */

    .registration-container {
      width: 100%;
      margin: 0;
      h2 {
        font-size: 50px;
      }
      .profile-pic {
        label {
          font-size: 40px;
        }
      }
      .user-roles {
        display: none;
      }
      .user-name {
        label {
          font-size: 30px;
          padding-right: 20px;
        }
        input {
          width: 400px;
          height: 80px;
          font-size: 50px;
          border-style: solid;
          border-width: 1px;
          border-color: #852809;
          margin-bottom: 20px;
        }
      }
      .field {
        label {
          font-size: 30px;
        }
        input {
          width: 400px;
          height: 80px;
          font-size: 50px;
          border-style: solid;
          border-width: 1px;
          border-color: #852809;
        }
      }
      .actions {
        float: right;
        margin-right: 25%;
      }

    }

    /* Login */

    #new-user-session {
      margin: 0;
      width: 100%;
      .field {
          input {
            margin-left: 25%;
            width: 600px;
            height: 100px;
            font-size: 60px;
          }
          label {
            font-size: 40px;
            color: white;
            margin-left: 25%;
          }
      }
      .check_field {
        margin-left: 25%;
        font-size: 50px;
        input[type='checkbox']{
          width: 40px;
          height: 40px;
        }
      }
      .actions {
        margin-left: 25%;
        font-size: 50px;
        button {
          color: gray;
        }
      }
    }

    /* Reviewer profile */

    #profile-pic-container {
      float: left;
      width: 50%;

      img {
          width: 200px;
          height: 200px;
      }
    }
      #scorecard-header {
        font-size: 50px;
        font-weight: bold;
        margin-left: 10px;
      }
      #scorecard-container {
        width: 100%;
        margin: 0;
        float: none;

        #scorecard {
          width: 100%;
          float: none;
          th {
            font-size: 2rem;
            text-align: center;
          }
          td {
            font-size: 3rem;;
        }
      }
    }
    #currently-reading-link {
      font-size: 50px;
      color: white;
      padding-left: 20px;
    }
    #next-book {
      font-size: 50px;
      color: white;
      margin-left: 10px;
    }
    #next-book:hover {
      background-color: gray;
    }

    /* Genres index */

    #genres-table {
      width: 100%;
    }
    #genre-links {
      font-size: 60px;
  }

  /* Genre Show Page */

  #genre-header {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #852809;
  }
  #book-span {
    margin-left: 25%;
    a {
      font-size: 30px;
      color: white;
    }
  }

  /* Book Show Page */

  #book-show-details {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 50px;
    padding: 10px;
    #book-cover-container {
      float: left;
      padding-right: 10px;
      img {
        width: 400px;
        height: 450px;
      }
    }
  }
  #author-books {
    font-size: 50px;
    a {
      font-size: 45px;
    }
  }
  #review-section {
    margin: 0;
    width: 100%;
    float: none;
    padding: 10px;
    h3 {
      font-size: 50px;
    }
    span {
      font-size: 40px;
    }
    .star-rating {
      img {
        width: 40px;
        height: 40px;
      }
    }
    #review-table {
      float: none;
      margin: 0;
      #reviewer-name-stars {
        .reviewer-pic {
          width: 60%;
          img {
            width: 100px;
            height: 100px;
          }
        }
        .reviewer-link {
          position: relative;
          width: 10%;
        }
        .star-rating {
          position: relative;
          width: 30%;
        }
      }
      #review-comment {
        height: 100%;
        .review {
          height: 100%;
          padding-top: 30px;
          font-size: 40px;
          width: 60%;
        }
      }
    }
    #moderation {
      font-size: 30px;
      padding-left: 15px;
      font-style: italic;
    }
  }
  #reading-list-header {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #852809;
  }
  #leave-review-header {
    font-size: 50px;
  }
  #add-to-list-link {
    font-size: 40px;
    color: white;
    padding-left: 20px;
  }
  #done-reading-link {
    font-size: 40px;
    color: white;
    padding-left: 20px;
  }
  #already-reviewed {
    font-size: 40px;
    text-align: center;
  }

  /* Author Profile */

  #new-book-upload {
    padding-top: 30px;
    width: 100%;
    margin: 0;
    a {
      margin-left: 20px;
      font-size: 40px;
    }
  }
  #author-profile-books {
    width: 100%;
    margin: 0;
    font-size: 3rem;
    img {
      width: 200px;
      height: 200px;
    }
  }

  /* New Book Form */

  #new-book-form {
    width: 100%;
    margin: 0;
    .cover-art {
      font-size: 50px;
      button {
        width: 40px;
        height: 40px;
      }
    }
    .title_field {
      label {
        font-size: 50px;
        padding: 10px;
      }
      input {
        width: 500px;
        height: 70px;
        font-size: 50px;
      }
    }
    #amazon-link {
      font-size: 50px;
    }
    .text_field {
      label {
        font-size: 40px;
      }
    }
    .genres-field {
      input[type='checkbox']{
        width: 35px;
        height: 35px;
      }
      label {
        font-size: 35px;
      }
    }
    .actions {
      float: right;
      font-size: 50px;
      input[type='button'] {
        width: 100px;
        height: 50px;
        background-color: gray;
      }
    }
    }
    /* Authors Index */

    #author-index-container {
      width: 100%;
      margin: 0;
      float: none;
      a {
        font-size: 50px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #852809;
      }
    }
    #reviewer-index-container {
      width: 100%;
      margin: 0;
      float: none;
      a {
        font-size: 50px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #852809;
      }
    }

    /* Edit Profile */

    #user-edit-form {
      width: 100%;
      margin: 0;
      padding: 20px;

      .profile-pic {
        label {
          font-size: 40px;
          input {
          }
        }
      }

      .field {
        label {
          font-size: 40px;
        }
        i {
          font-size: 30px;
        }
        input {
          width: 500px;
          height: 100px;
          font-size: 50px;
        }
      }
    }
    #cancel-account {
      p {
        font-size: 30px;
      }
    }

    /* Author's Show Page */


}
