/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';
 @import 'books';
 @import 'users';
 @import 'reviews';


 body {
  background-color: #E59866;
}
 nav {
   height: 100px;
   background-color: #852809;
   #main-links {
      margin-top: 30px;
      display: inline-flex;
      a {
          color: white;
          text-decoration: none;
      }
      li {
         list-style: none;
      }
      #home_link {
        font-size: 50px;
      }
      #other_links {
        display: inline-flex;
        margin-left: 20px;
        li {
          margin-left: 10px;
        }
      }
    }

    .dropdown {
      float: right;
      display: none;

      li {
        background-color: white;
        right: auto;
        left: auto;
        text-align: center;
        a {
          
        }
      }
    }
    #dropdown-container:hover .dropdown {
        display: block;
      }

  }









/* Registration/Login forms */

  .registration-container {
    h2 {
      text-align: center;
    }
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding: 50px;

    form {

    }
  }
