// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#new-review-container {
  width: 50%;
  margin-left: 25%;
}

#rsh_container {
  background-color: #C7CCD3;
  #reviewer-signup-header {

  }
}

#reviews-index-container {
  background-color: white;
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
  padding: 10px;
  th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #852809;
  }
  td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #852809;
  }

}
#done_row {
  display: none;
}
