<h2>Thanks, you successfully paid <strong>$9.99</strong>!</h2>

  <div id="celebration-after-subscribe">
    <%= image_tag "Canva - Group of people toasting with beer.jpg", style: "width:400px;height:400px;" %>
  </div>

<h3>One more step and you are on your way...</h3>

Go here to fill in your author profile and we'll welcome you aboard <%= link_to "Sign up", new_author_path %>
